{% extends "main.html" %}


{% block tabs %}
{{super()}}
<div class="button-container">
<div class="buttons-section" style="justify-content:center;">
  <button type="button" title="{{ page.next_page.title | e }}" onclick="location.href='../call_papers/'"
    class="btn-dark btn-xl-large btn-lg-large m-xs m-top box-shadow">
    Call for Papers
  </button>
  <button type="button" title="{{ page.next_page.title | e }}" onclick="location.href='../challenges/'"
    class="btn-warning btn-xl-large btn-lg-large  m-xs m-top box-shadow">
    Ag Vision Challenge
  </button>
  <button type="button" title="{{ page.next_page.title | e }}" onclick="location.href='../program_schedule/'"
    class="btn-dark btn-xl-large btn-lg-large m-xs m-top box-shadow">
    Program Schedule
  </button>


</div>
</div>

{%endblock%}
{%block site_nav %}
{{super()}}
{%endblock%}
{% block container %}
{{super()}}
{% endblock %}






